/*Grid Format*/
.wrapper {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: "banner banner logo" "image mainnav mainnav" "fact1 fact2 fact3" "footer footer footer";
    grid-gap: 4px;
}

.box {
    border: 3px solid black;
    padding: 20px;
    background-color: lightgray;
    border-radius: 5px;
}