/*Insert Grid Format*/
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner banner logo"
        "nav main main"
        "fact1 fact2 fact3"
        "footer footer footer";
    grid-gap: 4px;
}

.box {
    border: 3px solid black;
    padding: 20px;
    background-color: lightgray;
    border-radius: 5px;
}

/*Logo/Banner/Footer Colour*/
.logo, .banner, .footer {
    background-color: #ee7822;
    color: black;
}

/*Main*/
.main {
    background-color: #1a2133;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    grid-area: main;
    font-family: 'Lato', sans-serif;
}

/*Navigation. This is not with the other font modifiers as these text modifiers are more visible to the viewer, hence being more important.*/
.nav {
    grid-area: nav;
    font-family: 'Lato', sans-serif;
    background-color: #1a2133;
}

.nav a {
    color: snow;
    text-decoration: none;
}

.nav a:hover {
    color: grey;
    text-decoration: none;
}

.nav a:visited {
    color: snow;
    text-decoration: none;
}

.nav a:hover:visited {
    color: grey;
    text-decoration: none;
}

/*Logo Spacing. This spaces the logo from the banner and other divisions*/
.logo {
    grid-area: logo;
    padding: 0;
    height: 250px;  
}

/*Font and Text Modifiers. These change the font and the text visible to the viewer. There are a lot of them!*/
.fact1 {
    grid-area: fact1;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1a2133;
    color: snow;
}

.fact1 a {
    color: snow;
    text-decoration: none;
}

.fact1 a:hover {
    color: dimgrey;
    text-decoration: none;
}

.fact1 a:visited {
    color: dimgrey;
    text-decoration: none;
}

.fact1 a:hover:visited {
    color: dimgrey;
    text-decoration: none;
}

.fact2 {
    grid-area: fact2;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1a2133;
    color: snow;
}

.fact2 a {
    color: snow;
    text-decoration: none;
}

.fact2 a:hover {
    color: dimgrey;
    text-decoration: none;
}

.fact2 a:visited {
    color: dimgrey;
    text-decoration: none;
}

.fact2 a:hover:visited {
    color: dimgrey;
    text-decoration: none;
}
 
.fact3 {
    grid-area: fact3;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1a2133;
    color: snow;
    text-decoration: none;
}

.fact3 a {
    color: snow;
    text-decoration: none;
}

.fact3 a:hover {
    color: dimgrey;
    text-decoration: none;
}

.fact3 a:visited {
    color: dimgrey;
    text-decoration: none;
}

.fact3 a:hover:visited {
    color: dimgrey;
    text-decoration: none;
}

.footer {
    grid-area: footer;
    font-family: 'Lato', sans-serif;
    text-align: right;
}
/*Banner*/
.banner {
    grid-area: banner;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 120%
}

